@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

:root { 
    --fondo-pantalla: url(../img/fondo-pantalla-juego.png); 
}

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color: white;
}

body { 
    background-image: var(--fondo-pantalla);
    background-repeat: no-repeat;
    background-size:cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boton { 
    position: relative;
    padding: 20px 50px;
    text-decoration: none;
    border: 3px solid;
    border-color: white;
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
}

.boton:hover { 
    background-color: #001a2b;
    box-shadow: 0 0 20px var(--color-boton);
    border-color: var(--color-boton);
}

.boton span:nth-child(n) { 
    position: absolute;
    width: 10px;
    height: 10px;
    border: 3px solid;
    transition: all 0.6s ease;
}

.boton span:nth-child(1) { 
    right: 10%;
    top: -15px;
    background-color: #fff;
}

.boton span:nth-child(2) { 
    left: 10%;
    bottom: -10px; 
}

.boton:hover span:nth-child(1) { 
    right: 80%;
    transform: rotate(90deg);
    color: var(--color-boton);
    background-color: var(--color-boton);
}

.boton:hover span:last-child {
    left: 80%;
    transform: rotate(90deg);
    color: var(--color-boton);
}

.titulo { 
    font-weight: 48px;
    margin-bottom: 20px;
}

.slide-out-bck-center {
	-webkit-animation: slide-out-bck-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-bck-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

 @-webkit-keyframes slide-out-bck-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(-1100px);
              transform: translateZ(-1100px);
      opacity: 0;
    }
  }
  @keyframes slide-out-bck-center {
    0% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateZ(-1100px);
              transform: translateZ(-1100px);
      opacity: 0;
    }
  }
  